<<<<<<< HEAD
.favorite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(6, 217, 245, 0.473);
  border: 4px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.favorite h1 {
  font-family: "Times New Roman", Times, serif;
  text-decoration-style: solid;
}

.favorite .back {
  height: 30px;
  width: 140px;
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(27, 242, 250, 0.695);
  border: none;
  border-radius: 25px;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
}

.showlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the movie cards horizontally */
  margin-top: 20px;
}

.showlist h2 {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
}

.showlist p {
  font-size: 14px;
  height: 75px;
  overflow: hidden;
  margin-bottom: 10px;
}

.showlist .delete {
  height: 30px;
  width: 80px;
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(234, 33, 33, 0.9);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  margin: auto; /* Center the button horizontally */
}

.showlist .delete:hover {
  background-color: rgba(234, 33, 33, 1);
}
=======
.title-fav{
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.signOut{
    height: 20px;
    width: 125px;
    color: rgb(6, 6, 6);
    background-color: rgb(234, 33, 33);
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 10px;
}
.back{
    height: 23px;
    width: 125px;
    color: rgb(6, 6, 6);
    background-color: rgba(51, 249, 2, 0.953);
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 10px;
}
.movie-fav{
    max-width: 100px;
    height: 100px;
}
.delete{
    height: 22px;
  width: 55px;
  color: rgb(6, 6, 6);
  background-color: rgb(234, 33, 33);
  border-radius: 25px;
  margin-left: 20px;
}
.showlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .size {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  
>>>>>>> e64bc8f3d34194f0a46c6158564679b9c2dd6849
