.title-fav{
    margin-left: auto;
    margin-right: auto;
    width: 8em;    
}
.signOut{
    height: 20px;
    width: 125px;
    color: rgb(6, 6, 6);
    background-color: rgb(234, 33, 33);
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 10px;
}
.back{
    height: 23px;
    width: 125px;
    color: rgb(6, 6, 6);
    background-color: rgba(51, 249, 2, 0.953);
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 10px;
}
.movie-fav{
    max-width: 100px;
    height: 100px;
}
.delete{
    height: 20px;
    width: 125px;
    color: rgb(6, 6, 6);
    background-color: rgb(234, 33, 33);
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 10px;
}