.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(6, 217, 245, 0.473);
    border: 4px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
.title{
    font-family: "Times New Roman", Times, serif;
    text-decoration-style: solid;
}

.in{
    border-radius: 10px;
    padding: 7px; 
    width: 200px;
    height: 15px; 
    margin-top: 10px;
}

.fav{
    height: 20px;
    width: 140px;
    color: rgb(6, 6, 6);
    background-color: rgba(51, 249, 2, 0.953);
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 10px;
    
}

.btnLogout-home{
    height: 20px;
    width: 140px;
    color: rgb(6, 6, 6);
    background-color: rgb(234, 33, 33);
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 10px;
}
.showlist{
display: flex;
flex-wrap: wrap ;
margin-top: 20px;
margin-left: 20px ;
}


