.head{
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
    text-decoration-style: solid;
}

.btn{
    height: 30px;
    width: 150px;
    color: white;
    background-color: rgba(2, 47, 249, 0.953);
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 25px;
}

.login{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    background-color: rgba(6, 217, 245, 0.473);
    border: 4px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

.list{
    list-style-type: none;
    margin-left: 25px;
}

.in{
    border-radius: 25px;
    padding: 7px; 
    width: 150px;
    height: 15px; 
    margin-top: 10px;
}

.btnSout{
    height: 30px;
    width: 150px;
    color: rgb(6, 6, 6);
    background-color: rgba(51, 249, 2, 0.953);
    border-radius: 25px;
    margin-left: 90px;
}

.btnSend{
    height: 30px;
    width: 150px;
    color: white;
    background-color: rgba(2, 47, 249, 0.953);
    margin-top: 10px;
    border-radius: 25px;
}

.HeadSup{
    margin-left: 70px;
    margin-top: 15px;
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
    text-decoration-style: solid;
}
